.PathResponses {
  border-top: 1px solid grey;
  padding: 1rem;
  width: 50%;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .PathResponses {
    width: 100%;
  }
}

.PathResponses__table {
  width: 100%;
}

.PathResponses__code {
  margin-right: 0.5rem;
}

.PathResponses__desc {
  font-style: italic;
}
